* {
	font-family: 'Raleway', sans-serif;
}

.intro {
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 15vh;
	border-bottom: 2px solid #000000;
	font-weight: 400;
	margin-top: 18.3vh;
	padding-bottom: 1.67rem;
}

h2 {
	font-size: 4.17vh;
	margin: 0.5vh;
	color: #515151;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	color: #FFFFFF;
	height: 10vh;
	margin-bottom: 5vh;
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline;
	padding: 0 5vh;
	font-weight: bolder;
}


.EDA {
	text-decoration: line-through;
}

.gap {
	background-color: red;
}

section {
	display: flex;
	height: 50vh;
	padding: 6.67vh 6.67vh 0 6.67vh;
	border-bottom: solid 1px #F2F2F2;

}

h3 {
	width: 66%;
	margin: 0 0 0 5vh;
}

p {
	width: 134%;
	margin: 0 5vh 0 0;
	font-size: 3.33vh;
	font-style: italic;
}

.darkBackground {
	background-color: #FBFBFB;
}

/*.topSection {
	padding: 11.67vh 6.67vh 0 6.67vh;
}
*/
.topScroll {
	background-color: red;
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.5;
}