* {
	font-family: 'Raleway', sans-serif;
}

.intro {
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 15vh;
	border-bottom: 2px solid #000000;
	font-weight: 400;
	margin-top: 18.3vh;
	padding-bottom: 1.67rem;
}

h2 {
	font-size: 4.17vh;
	margin: 0.5vh;
	color: #515151;
}

nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	color: #FFFFFF;
	height: 10vh;
	margin-bottom: 5vh;
	width: 100%;
	z-index: 1;
}

#navLogo {
	position: absolute;
	left: 6vw;
	margin-top: 2.5vh;
	font-size: 3.5vh;
	visibility: hidden;
	color: #000000;
	text-decoration: none;
	border-bottom: 2px solid #000000;
	padding-bottom: 1vh;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline;
	margin: 0 5vh;
	font-weight: bolder;
	padding-bottom: 1vh;
}


.EDA {
	text-decoration: line-through;
}

.gap {
	background-color: red;
}

section {
	display: flex;
	height: 50vh;
	padding: 6.67vh 6.67vh 0 6.67vh;
	border-bottom: solid 1px #F2F2F2;

}

h3 {
	width: 66%;
	margin: 0 0 0 5vh;
}

.content {
	width: 134%;
	margin: 0 5vh 0 0;
	font-size: 3.33vh;
	font-style: italic;
}

.darkBackground {
	background-color: #FBFBFB;
}

.topScroll {
	background-color: red;
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.5;
}

#contactHead {
	height: 100vh;
}

h4, h5 {
	margin: 4vh 0;
	font-style: normal;
}

h4 {
	font-size: 3vh;
}

h5 {
	font-size: 2.2vh;
}

footer {
	height: 10vh;
}